
/*--------------------------end of fonts----------------------*/

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
 
    height: 100%;
    margin: 10%; /* page margins of no less than 300px (or 10%). - If I went to 10%, it would diminish the quality of the site. I am willing to fix this though. */ 
    padding: 0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

img{
  max-width: 70%;
  padding-top:0rem;
  height: auto;
  margin:-5%;
  padding-left: 5rem;
}

img.pres{
float:right;
 width: 400px;
 height: 200px;
 padding-right:0em;
 padding-left:10em;
 padding-bottom:4em;
}

h1, h2, h3, h4, h5{
    font-family: 'Lexend', sans-serif;
    color:#003475;
}

h2{
 font-size: 2em;
 color:#003475;
 width:50%;
}

h3{
  font-size: 4em;
  color:#003475;

 }


p{
  font-size: 1.2rem;
}
.blurb{
  width:80%;
}


#blurb2{
  font-size: 2rem;
  font-weight: 500;
  padding:1rem;
  padding-bottom: 1rem;
  text-decoration: underline;
  background-color: #c0d8f5;
}

a #blurb2{
  color:#003475;
}


 /* The side navigation menu */
 .sidebar {
  margin: -10% !important;
  padding: 0;
  width: 130px;
  background-color: #e7e7e7;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 20px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #ecc798;
  color: black;
  font-weight: 500;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #ffcf94;
  color: black;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 5em;
  padding: 1px 16px;
  height: 1000px;
}

.footer {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  height: 90px;
  background-color:#ecc798;
  text-align: left;
  padding-top:.2rem;
  color: #003475;
  outline: none;
  padding-left:25em;
  font-size: 1em;
  }
  

#icons{
padding-left:1.5rem;
width:30%;
color:#003475;
}

 /* For the form */
 
/* Style inputs, select elements and textareas */

input[type=text],
select,
textarea {
    padding: 12px;
    margin-bottom: 4px;
    box-sizing: border-box;
    background-color: #ecc798;
    border: 2px solid black;
    border-radius: 1px;
    width: 39rem;
    font-family: inherit;
    color: var(--mainfont);
    font-size: 1.2rem;
    transition: all 0.2s ease 0s;
}

input[type=text]:hover,
select:hover,
textarea:hover {
    color: black;
    border-color: black;
    background-color: #e4ccac;
}

input[type=text]:focus,
select:focus,
textarea:focus {
    color: black;
    
    background-color: #e4ccac;
}

textarea {
    font-family: inherit;
    height: 320px;
    min-height: 200px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    resize: vertical;
}


/* Style the submit button */

input[type=submit] {
    background-color: transparent;
    color: black;
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 5px;
    margin-bottom: 3rem;
    padding: 12px 15px 12px 25px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: inherit;
}

input[type=submit]:hover {
    background-color: #e4ccac;
    color: black;

}


.form-and-links {
    display: flex;
    padding-top: 1.4rem;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
}


/* Style the container */

.formcontainer {
    border-radius: 0px;
    background-color: transparent;
    display: flex;
    margin-left: 0px;
    padding-top: 0rem;
    margin-right: auto;
    display: inline;
}


/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

li{
  font-style: italic;
}

.bottom{
  padding-bottom: 1rem;
}



.imagegrid {
  display: flex;
  flex-wrap: wrap;
}

a.image {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(25% - 4px);
  height: calc(25% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
 
}



@media screen and (min-width: 50em) {
  a.image{
    width: calc(25% - 6px);
  }
  
}


figure {
  margin: 0;
  overflow: hidden;
}

figcaption {
  margin-top: 15px;
  padding-top: 1rem;
  padding-bottom:1rem;
  padding-left:2rem;
}

img.grid {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;

}

img#family{
float:right;
   width: 500px;
   height: 600px;
   padding-right:0em;
   padding-top: 3em;
   padding-left:8em;
   padding-bottom: 4em;
  }



@media screen and (max-width: 1280px) {
  .content {
      align-items: center;
      margin: auto;
  }
  .form-and-links {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }
  /*div related to flexing*/
  .emailandmedia {
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 1rem;
  }
  /* Style the container */
  .formcontainer {
      border-radius: 0px;
      background-color: transparent;
      display: flex;
      padding-right: 0px;
  }
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: auto;
    height: auto;
    position: relative;
    padding-left:3rem;
    padding-top:1rem;

  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;
  padding-left:1rem;}

.footerblurb {
  padding-left:1em;
  padding-bottom:1em;
  font-size: 1.3em;
  width:100%;
  
}


figcaption {
  margin-top: 15px;
  padding-top: 1rem;
  padding-bottom:0rem;
  margin-bottom:7rem;
  padding-left:0rem;
}

body {
  background-color: #f4f4f4;

  height: 100%;
  margin: 5%;
  padding: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

h2{
  padding-top:2rem;
}
img{
  max-width: 80%;
  padding-top:1rem;
  margin-left: -5rem;
  height: auto;
}

#blurb2{
  padding-bottom:4rem;
}

img.pres{
float:right;
 width: 400px;
 height: 200px;
 padding-right:0em;
 padding-top: 3em;
 padding-left:8em;
 padding-bottom: 4em;
}

#icons{
  width:100%;
  padding-left: 4rem;
  color:#003475;
  }
  
/*--footer--*/
footer{
display: flex;
box-sizing: inherit;
font-size: 0.1em;

padding-left:0em !important;
padding-right:1em;
margin-right: 0rem;
height: 10px;
margin-top:4rem;

}

input[type=text],
select,
textarea {
    margin-bottom: 4px;
    box-sizing: border-box;
    border-radius: 1px;
    width: 20rem;
    align-self: center;
    font-family: inherit;
    color: var(--mainfont);
    font-size: 1.2rem;
    transition: all 0.2s ease 0s;
}

textarea {
    font-family: inherit;
    height: 390px;
    min-height: 250px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    resize: vertical;
}
/* Style the submit button */
input[type=submit] {
    width: auto;
    border-width: 2px;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 15px 12px 25px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: inherit;
}

/*this is social media and form box, change these values to mesxs with their spacing and stuff*/
.form-and-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 1rem;
}
}

.formcontainer {
  border-radius: 0px;
  background-color: transparent;
  display: flex;
  padding-right: 0px;
}

/* when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}

       

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  
 
} 